.login-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #ff385c; /* Color similar al de Airbnb */
  }
  
  .login-form {
    width: 100%;
  }
  
  .login-input {
    padding: 10px;
    border-radius: 5px;
  }
  
  .login-button {
    background-color: #ff385c;
    border-color: #ff385c;
    color: white;
  }
  
  .login-button {
    background-color: #ff385c !important; 
    border-color: #ff385c !important;
    color: white !important;
  }
  
  