.google-login-button, .github-login-button {
  margin-top: 1rem;
  border-radius: 8px;
  color: #1f1f1f;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 45px;
  padding: 0 16px;
}


.toggle-button {
  color: #1f1f1f !important;
  font-weight: bold ;
  text-align: center;
  margin-top: 1rem;
  display: block ;
}

.login-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #ff385c;
  }
  
  .login-form {
    width: 100%;
  }
  
  .login-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-button {
    background-color: #ff385c;
    border-color: #ff385c;
    color: white;
    font-weight: bold;
    height: 44px;
    border-radius: 8px;
  }
  
  .login-button {
    background-color: #ff385c !important; 
    border-color: #ff385c !important;
    color: white !important;
  }

  .register-link-container {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .register-link {
    color: #ff385c;
    font-weight: bold;
  }
  
  .divider {
    text-align: center;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
  }
  
  .divider::before,
  .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
  }
  

  .google-login-button:hover {
    border-color: #357ae8 !important;
  }
  
  .github-login-button:hover {
    border-color:  #24292e !important;
    color:#24292e !important;
  }
  

  
  
  